/*		GENERAL */
body{
background-color: #02010a;
font-family: 'Dancing Script', cursive;
}

/*#contenedor {
	display: block;
	margin: 0 auto;
	clear: both;
	width: 900px;
	font-family: 'Dancing Script', cursive;
	
}*/

img[class^='imagen']{
-webkit-filter: drop-shadow(2px 2px 2px #02010a);
filter: drop-shadow(2px 2px 2px #02010a);
transition-duration: 1s;
}

img[class^=logo]{
	display: inline;
width: 10%;
}

/*                 ESTILOS DE LA CABECERA                 */

#cabecera {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 900px;
	}
	
#texto_titulo {	order:1;}
#menu_items{	order:2;}

h1 {
	text-align: left;
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px 2px #02010a;
	margin: 10px 5px 10px 5px;
	width: 100%;
	 }

.lista_menu {
	display: inline;
	list-style-type: none;
	padding: 0px 0px;
	
}
#menu_items .item {
	font-size: 25px;
	margin: 0px 5px 0px 5px;
	float: right;
}

#inicio { order:1;}
#paisaje {order:2;}
#retrato {order:3;}

/*   						ESTILOS DEL CONTENIDO DE INDEX 				*/

#contenedor_principal {
	background-color: #d5c75f;
	display: block;
	width: 880px;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	}

#img_central {
width:100%;
border:solid 1px white;
}
#contenedor_img_sec {
width: 100%;
display: flex;
flex-flow: row no-wrap;
background-color: #d5c75f;
}
.contenedor_img {
width:50%;
margin: 0 auto;
padding-left: 5px;
padding-right: 5px;
}
.imagen_secundaria {
width: 100%;
border:solid 1px white;
}
#contenedor_img1 {	order:1;	}
#contenedor_img2 {  order:2;  }


.contenedor_img .vinculo {
display: block;
text-align: center;}

#img_sec1:hover{
	transform: rotate(10deg);
	-webkit-filter: drop-shadow(2px 2px 5px #82c3a6);
	filter: drop-shadow(2px 2px 5px #82c3a6);
}

#img_sec2:hover{
	transform: translatey(-5px)  translatex(20px);
	-webkit-filter: drop-shadow(2px 2px 2px #82c3a6);
	filter: drop-shadow(2px 2px 2px #82c3a6);
}



/*   						ESTILOS DEL CONTENIDO DE PAISAJES Y RETRATOS 					*/

#contenedor_galeria {
	background-color: whitesmoke;
	width: 880px;
	margin: 0 auto;
	display: flex;
	flex-flow: row no-wrap;
	padding: 0px 10px 0px 10px;
		}

#col1 {order:1;}
#col2 {order:2;}
#col3 {order:3;}

.contenedor_lista_img{
width: 97%;
margin: 10px 10px 10px 10px;
}
.imagen_galeria {
	width: 100%;
	border: solid 5px white;
}
#img_portrait{
	width: 45%;
	position: relative;
	left: 27%;	
	}
	
#img1{
-webkit-filter:blur(10px) drop-shadow(2px 2px 2px #02010a);
filter:blur(10px) drop-shadow(2px 2px 2px #02010a);}

img[id$='g2'],img[id$='g4'],img[id$='g6'],img[id$='portrait']{
	-webkit-filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
	filter:grayscale(100%) drop-shadow(2px 2px 2px #02010a);
}
#img3{
-webkit-filter:sepia(90%) drop-shadow(2px 2px 2px #02010a);
filter:sepia(90%) drop-shadow(2px 2px 2px #02010a);
}


/*   						ESTILOS DEL FOOTER 					*/

#pie {
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
display: flex;
flex-flow: row no-wrap;
background-color: #c6d5c5;
margin: 0 auto;
width: 900px;
}
#contenedor_contacto{order:1;}
#contenedor_terminos{order:2;}
#contenedor_sociales{order:3;}
#contenedor_derechos{order:4;}

.contenedor_datos {
width: 21%;
margin: 10px 10px 10px 10px;
padding: 10px 10px 10px 10px;
}

h2{
	display: block;
	text-align: center;
	font-size: 25px;
	color: white;
	text-shadow: 1px 1px 2px #02010a;
	width:100%;
	}
.texto_contacto{
width: 100%;
text-align: left;}
.texto_terminos{
	width:100%;
	text-align: justify;
	}
	.texto_sociales{
	display: inline;	
	}
	.texto_derechos{
	display: inline;}
	
	







